:root {
  --bulma-text-family: "Roboto";
  --bulma-title-size: 30px;
  --text-navegation-size: 14px;
  --pagination-current-color: hsl(0, 0%, 14%);
}

span,
.title,
p,
th,
td {
  font-family: var(--bulma-text-family);
}

.column.is-narrow {
  padding-right: 0px;
  padding-bottom: 0px;
  border-right: 1px solid #585858;
}

.navbar-item span.icon {
  font-size: 1.2rem;
}

.navegation {
  margin-bottom: 1em;
  font-family: var(--bulma-text-family);
  font-size: var(--text-navegation-size);
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  transition: all 0.2s;
  position: sticky;
  top: 0;
  width: 250px;
  white-space: nowrap;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar-logo .navbar-item {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  padding: 20px;
  transition: all 0.2s;
}

.sidebar-options .navbar-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  transition: all 0.2s;
  border-radius: 1em;
}

.sidebar-options .navbar-item:hover {
  border: 2px solid #585858;
  border-radius: 1em;
  transition: all 1s;
}

.sidebar-options .navbar-item span.icon {
  margin-right: 10px;
  font-size: 1.2rem;
}

.sidebar.collapsed .navbar-item span {
  display: none;
}

.sidebar.collapsed .navbar-item span.icon {
  display: flex;
  margin: auto;
}

.sidebar.collapsed .sidebar-logo h1 {
  display: none;
}

.sidebar.collapsed .sidebar-logo img {
  margin: 0 auto;
}

.separator {
  background-color: #585858;
  height: 1px;
  width: 100%;
  margin: 10px 0;
}

.toggle-btn {
  position: absolute;
  top: 4.5%;
  right: -10.5px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.toggle-btn > svg {
  color: #585858;
  width: 10px;
  height: 10px;
}

.toggle-btn:hover {
  background: #f0f0f0;
}

.sidebar.collapsed .toggle-btn {
  right: -10.5px;
}

.sidebar-user .navbar-item {
  display: flex;
  align-items: center;
  margin: 20px;
  padding: 10px;
  border-radius: 1em;
  transition: all 0.5s;
}

.sidebar-user .navbar-item:hover {
  border: 2px solid #585858;
  border-radius: 1em;
}

.dashboard {
  padding: 0px;
}

.column.column-option {
  padding: 50px 40px 40px;
}

.sidebar-options .navbar-item.selected {
  color: hsl(147, 41%, 9%);
  background-color: #c2e96a;
  border-radius: 1em;
  transition: all 0.2s;
}

.container-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
  gap: 1em;
}

.container-text p.title {
  font-size: 1.5em;
  margin-bottom: 0px;
}

p.title + p {
  margin-top: 1em;
}

.container-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 1em;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--bulma-text-family);
}

.button.color-hover {
  color: black;
  background-color: #c2e96a;
}

.button svg {
  margin-right: 10px;
}

.button-filter {
  display: flex;
  align-items: center;
}

.container-search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.search {
  display: flex;
  flex-grow: 1;
  max-width: 50%;
}

.button svg {
  margin-right: 0px;
}

.menu-option {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  transform: translateY(-100%);
}

.column-option .table-container {
  overflow: visible;
  overflow-y: visible;
}

@media (max-width: 630px) {
  .column-option .table-container {
    overflow: visible;
    overflow-x: auto;
  }
}

.menu-option > .box {
  border: 1px solid var(--bulma-border);
  padding: 5px;
}

.menu-option > .box > .button {
  border-style: none;
  justify-content: flex-start;
}

.menu-option > .box > .button:hover {
  background-color: #c2e96a;
  color: black;
}

.buttons > .button-login {
  background-color: #c2e96a;
}

.container-login > .background-image {
  margin-top: 0;
}

.background-image {
  background-image: url("../img//distrito_riego.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.columns > .column-padding {
  padding: 0em 3.5em;
}

.form-container {
  height: 100vh;
  background-color: var(--bulma-scheme-main);
}

.icon-login {
  margin-right: 1em;
}

.text-login {
  margin: 2em 0em;
}

.title-mb {
  margin-bottom: 4em;
}

.title-mb3 {
  margin-bottom: 3em;
}

.control > .input-padding {
  padding: 1.4em;
}

.mb-1em {
  margin-bottom: 1em;
}

.mt-2em {
  margin-top: 1.5em;
}

form > .button-login {
  background-color: #c2e96a;
  font-weight: bold;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1em 0em;
  background-color: transparent;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid;
  border-color: #b9bfca;
}

.button-padding {
  padding: 4em 4em 0em;
}

.separator::before {
  margin-right: 10px;
}

.separator::after {
  margin-left: 10px;
}

.separator span {
  padding: 0 10px;
  font-weight: bold;
}

form > .button-login {
  margin-top: 4em;
  margin-bottom: 1em;
}

.login-error {
  color: #e86059;
  font-weight: bold;
}

.modal-card > .modal-card-head {
  box-shadow: none;
}

.modal-card > .modal-card-foot {
  background-color: var(--bulma-modal-card-head-background-color);
}
/*css de filtro roles*/
.view-filter {
  display: flex;
  flex-direction: column;
  width: 25em;
  height: 100vh;
  padding: 3em;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 0;
  background: var(--bulma-scheme-main);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.view-filter-body {
  flex: 1;
  overflow-y: auto;
}

.view-filter-buttons {
  display: flex;
  justify-content: space-between;
}

.accordion {
  margin-bottom: 0.5em;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  padding-left: 1em;
}

.accordion-body.open {
  max-height: 150px;
  overflow-y: auto;
}

.icon.open {
  transform: rotate(180deg);
}

.container-status {
  padding-left: 1em;
}

.icon.cont-table {
  border: 2px solid var(--bulma-border);
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
  margin-left: 0.5em;
}

/*css de filtro roles*/
.button-back {
  display: flex;
  gap: 0.5em;
  bottom: 1rem;
  left: 1rem;
  position: fixed;
  border: 3px solid #c2e96a;
  color: #c2e96a;
  padding: 0.5em;
  border-radius: 10px;
  margin-top: 0px;
}

.modal-card > .modal-card-body {
  padding-top: 0;
  padding-bottom: 0;
}

.control > .is-true {
  border-color: #c2e96a;
}

.control > .is-false {
  border-color: #b8332c;
}

.modal-card > .modal-confirm {
  padding: 2em;
}

.text-confirm {
  margin-bottom: 1.5em;
}

.message {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 40;
  margin: 1em;
}

.message > .message-header.is-true {
  background-color: #c2e96a;
}

.message > .message-header.is-false {
  background-color: hsl(348, 100%, 70%);
}
.message > .message-header > .title-message {
  margin-bottom: 0px;
}
